@using Manage_Intern_Version_2.Web.Startup
@model Manage_Intern_Version_2.Web.Models.User.UserViewModel

@{
    ViewBag.Title = L("UserList");
    ViewBag.ActiveMenu = "UserList"; //Matches with the menu name in SimpleTaskAppNavigationProvider to highlight the menu item
}

<h2>@L("UserList")</h2>
<a class="btn btn-primary btn-sm" asp-action="Create">@L("NewUser")</a>
<table class="table">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Gmail</th>
      <th scope="col">SĐT</th>
    </tr>
  </thead>
  <tbody>
     @{
         int stt = 0;
         @foreach (var user in Model.Users){
                stt++;
                <tr>
                  <th scope="row">@stt</th>
                  <td>@user.UserName</td>
                    <td>@user.CreatedAt</td>
                  <td>@user.Gmail</td>
                  <td>@user.PhoneNumber</td>
                </tr>
    }
    }
  </tbody>
</table>

